/* Swiper Slide */
.swiperSlide {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
}

.slideInner {
  padding: 10px;
  width: 100%;
}

.entityImg {
  display: block;
  object-fit: cover; 
  width: 100%;
  height: 28vw; 
}

/* 기본적으로 전환 속도 설정 (0.1초) */
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  transition: opacity 0.1s ease-in-out, color 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

/* Swiper 컨테이너에 호버 시, 버튼과 페이지네이션을 흰색으로 바로 보이도록 */
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-pagination {
  opacity: 1; 
  color: white;
  visibility: visible;
}

/* 화면 폭 480px 이하에서는 숨김 */
@media screen and (max-width: 480px) {
  .swiper:hover .swiper-button-next,
  .swiper:hover .swiper-button-prev,
  .swiper:hover .swiper-pagination {
    display: none;
  }
}